.editor-box {
  padding: 1rem;
  height: 100%;
}
.editor-box .pure-form {
  display: grid;
  grid-auto-rows: 3rem;
  grid-template-columns: 6rem 1fr;
  align-items: center;
}
.pure-form > label[for="assigned"] {
  grid-column-start: 2;
}
.pure-form input[type="color"]{
  padding: 0;
}
.buttons {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons > button {
  margin: 0;
}