
.ReactTable{
  height: 100%;
}

.ReactTable .rt-thead.rt-thead {
  overflow-y: auto;
  flex-grow: 0;
}

.ReactTable .rt-tbody.rt-tbody {
  flex-grow: 0;
}

.ReactTable .rt-tbody.rt-tbody .rt-tr-group:last-child {
  border-bottom: solid 1px rgba(0,0,0,0.05);
}
.ReactTable .rt-tbody .rt-tr.selected {
  background-color: rgba(0, 0, 0, 0.1);
} 
.ReactTable .rt-tr{
  align-items: center;
}
.ReactTable .action-cell{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.material-icons {
  cursor: default;
}
.material-icons.btn {
  cursor: pointer;
}
