
.app {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.app > .header {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.app > .table-container {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  overflow: hidden;
}
.app > .editor-container {
  display: none;
  background-color: #fafafa;
  z-index: 501;
}
.app.has-editor > .editor-container {
  display: block;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  overflow: auto;
}
@media (min-width: 480px) {
  .app.has-editor > .editor-container {
    grid-column: 2 / 5;
  }
}
@media (min-width: 960px) {
  .app.has-editor > .editor-container {
    grid-column: 3 / 5;
  }
}

.overlay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:500;
  width:100%;
  height:100%;
}
