@import url('https://unpkg.com/purecss@1.0.0/build/pure-min.css');
@import url('https://unpkg.com/material-design-icons@3.0.1/iconfont/material-icons.css');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
#root {
  height: 100%;
  width: 100%;
}
